body {
	margin: 0;
	font-family: "helvetica", "arial" , sans-serif;
	font-size: 20px;
	line-height: 30px;
	background-color: #a71814;

}
header{
	background-color: #a71814;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	color: #0a2b4e;
	font-family: "helvetica", "arial" , sans-serif;
	font-size: 50px;
}

header img{
	width: 300px;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img {
	max-width: 100%;
}
h2 {
	font-size: 35px;
	color: 	#d9e2e7;
	margin: 40px 0 10px;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;

}

a{
	color: #d9e2e7;
}
a:hover {
	color: #ffffff;
	background-color: #0a2b4e;
}

footer {
	background-color: #a71814;
	text-align: center;
	color: white;
	font-size: 15px;
	padding: 50px
;

}

footer p {
	margin: 0;
}

footer a{
	opacity: .5;
	background-color: #0a2b4e;
}

p.caption {
	margin-top: 0px;

}

p {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
}